<% @current_tab = "Ciudadanos" %>

<section id="user_list">
	<header class="proposal-head">
	  <strong>Ciudadanos que han votado</strong>
	</header>
	<% for user in @users do %>
		<article class="proposal">
			<section class="proposal-content">
				<header>
					<h2 class="title"><%= link_to user.name, user %></h2>
				</header>
			</section>
			<section class="voters">
			      <strong><%= link_to "Ver votos", user, :class => "vote-link" %></strong>
			</section>
			<span class="decorate up"></span>
		</article>
	<% end %>
</section>