<article class="proposal">
  <section class="proposal-content">
    <header>
      <hgroup>
        <h2 class="title"><%= link_to awesome_truncate(proposal.title, 150), proposal %></h2>
      </hgroup>
    </header>
  </section>
    <% if proposal.closed? %>
    <section class="voters">
      <p class="solved"><span class="official_resolution"> <%= proposal.official_resolution %></span> en el Congreso.</p>
      <section class="vote-results documents-list voters">
        <dl>
          <dt><strong>Resultados de la votación popular</strong></dt>
          <dd>
            <%= render :partial => "shared/results", :locals => {:proposal => proposal, :width => 40} %>
          </dd>
        </dl>
      </section>
    </section>
    <% else %>
    <section class="voters">
      <%= link_to vote_text(proposal), proposal, :class => "vote-link" %>
    </section>
    <% end %>
  <span class="decorate up"></span>
</article>